In [57]:
import pandas as pd
from scipy.spatial import distance
from math import cos, sin, pi

In [2]:

data = {'col_1': [0, 1, 2, 3],
    'col_2': [4, 5, 6, 7]}
df = pd.DataFrame(data)

df

   col_1  col_2
0      0      4
1      1      5
2      2      6
3      3      7

In [3]:
additional_data = [[8, 9, 10, 11], [12, 13, 14, 15]]
df['col3'], df['col4'] = additional_data

df

   col_1  col_2  col3  col4
0      0      4     8    12
1      1      5     9    13
2      2      6    10    14
3      3      7    11    15

In [58]:
t = 59
T = 60
a = cos(2.*pi*t/T), sin(2.*pi*t/T)
print a

t = 0

b = cos(2.*pi*t/T), sin(2.*pi*t/T)
print b

distance.euclidean(a, b)

(0.9945218953682733, -0.10452846326765342)
(1.0, 0.0)

0.10467191248588761

In [85]:
def cycle(t, T):
    arg = 2 * pi * t / T
    return sin(arg), cos(arg)

In [86]:
t = 59
T = 60
a = cycle(t, T)
print a

t = 1

b = cycle(t, T)
print b

distance.euclidean(a, b)

(0.9945218953682733, -0.10452846326765342)
(0.9945218953682733, 0.10452846326765346)

0.2090569265353069

In [87]:
t = 1
a = cycle(t, T)
print a

t = 3
b = cycle(t, T)
print b

distance.euclidean(a, b)

(0.9945218953682733, 0.10452846326765346)
(0.9510565162951535, 0.3090169943749474)

0.2090569265353069

In [88]:
a = (1,2)

In [89]:
a[0]

1